<div id="mainAccordion">
    
        <h3>Day 1: Tuesday, July 1</h3>
        <div>

            <div class="session session-registration">
                <div class="session-time">09:00-09:30</div>
                <div class="session-title">Registration and Coffee</div>
            </div>

            <div class="session session-plenary">
                <div class="session-time">09:30-10:30</div>
                <div class="session-title">Plenary Session</div>
                <div class="plenary-info">
                    <div class="plenary-title">Relational Intelligence and Human–AI Relationships: Foundations, Technologies, and Ethical Dimensions</div>
                    <div class="plenary-speaker">Speaker: Philip Brey</div>

                    <div class="plenary-chair">Chairs: YJ Erden, Stephen Rainey</div>

                    <div class="plenary-chair">AISB Keynote</div>

                    <div class="plenary-chair">Room: RA1501 (Ravelijn Building)</div>

                </div>
            </div>

            <div class="session session-break">
                <div class="session-time">10:30-11:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session">
                <div class="session-time">11:00-13:00</div>
                <div class="session-title">Session 1</div>

                <div id="tracksAccordion-day1-session3" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Philosophy and History of Computing - Room: RA1501 (Ravelijn Building) - Chair: Tom Powers</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Epistemic Type Mismatch</div>

                            <div class="talk-speakers">Yves Bouchard</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Universal computable prediction and inductive bias</div>

                            <div class="talk-speakers">Tom Sterkenburg</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">What is a Knowledge Graph?</div>

                            <div class="talk-speakers">Georgios Tsagdis</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Knowledge graphs, synthetic data</div>

                            <div class="talk-speakers">Tom Powers</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 2 - Artificial Intelligence and Machine Learning - Room: RA2501 (Ravelijn Building) - Chair: Ramon Alvarado</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Could AI Assuage Loneliness? And if so, which kind?</div>

                            <div class="talk-speakers">Ramon Alvarado</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Axe the X in XAI: A Plea for Understandable AI</div>

                            <div class="talk-speakers">Andrés Páez</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Can an LLM Apprehend Meaning?</div>

                            <div class="talk-speakers">Daniel Hardt</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 3 - Ethics of AI and Computing - Room: RA2503 (Ravelijn Building) - Chair: Don Berkich</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Recommendation Algorithms and Human Freedom, the Technology and Ethics</div>

                            <div class="talk-speakers">James Brusseau</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">On the moral boundaries of AI ethics principlism</div>

                            <div class="talk-speakers">Alice Rangel Teixeira</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Kantian Deontology for AI: Alignment Without Moral Agency</div>

                            <div class="talk-speakers">Oluwaseun Sanwoolu</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Wisdom in the Age of Intelligent Machines</div>

                            <div class="talk-speakers">Edward H. Spence</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Generative Companionship in the Digital Age - Session 1 (Normative Concerns in the Employment of GenAIs) - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Introduction to Companion GenAI</div>

                            <div class="talk-speakers">Robert Clowes, Kesavan Thanagopal</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:05-11:30</div>

                            <div class="talk-title">What Makes Human-AI Relationships Morally Problematic?</div>

                            <div class="talk-speakers">Kesavan Thanagopal</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">LLMs, Sycophancy, and Self-Deception</div>

                            <div class="talk-speakers">Eric Funkhouser</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Can We Trust AI Companions?</div>

                            <div class="talk-speakers">Marianna B. Ganapini</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - Bridging Justice and Meaningful Human Control in Medical AI - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00-11:05</div>

                            <div class="talk-title">Welcome</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:05-11:30</div>

                            <div class="talk-title">Epistemic justice through meaningful human control in medical AI</div>

                            <div class="talk-speakers">Giorgia Pozzi, Filippo Santoni de Sio</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Epistemic Justice in Healthcare: Enhancing Meaningful Human Control through Responsibility Distribution</div>

                            <div class="talk-speakers">Sanaa Abrahams, Giulio Mecacci</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Keynote: Automating Reproduction: AI, Risk Prediction, and the New Politics of Control</div>

                            <div class="talk-speakers">Lily Frank</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Panel discussion among speakers</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">13:00-14:00</div>
                <div class="session-title">Lunch</div>
            </div>

            <div class="session">
                <div class="session-time">14:00-15:30</div>
                <div class="session-title">Session 2</div>

                <div id="tracksAccordion-day1-session5" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Embodied, Ecological, and Distributed Cognition - Room: RA1501 (Ravelijn Building) - Chair: Hajo Greif</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">From Dilemmas to Innovation: Distributed Moral Reasoning for R&D Teams</div>

                            <div class="talk-speakers">Marco Innocenti</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Mind Reading Machines? Conceptual Muddles behind some neurorights concerns</div>

                            <div class="talk-speakers">Stephen Rainey</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Explaining Mental Disorders: Enactivist Sense-Making versus Miscomputation</div>

                            <div class="talk-speakers">Nir Fresco, Dominic Murphy</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 2 - Artificial Intelligence and Machine Learning - Room: RA2501 (Ravelijn Building) - Chair: Brian Ballsun-Stanton</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">AI and High Risk contexts: Distinguishing Standards for Decisionmaking</div>

                            <div class="talk-speakers">Rooke Christy</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Meta+phenomenology I: A Taxonomy of Learning Experiences</div>

                            <div class="talk-speakers">Michael Winter</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Reliability of Deep Learning Simulations for Photovoltaic Systems</div>

                            <div class="talk-speakers">Nicola Angius, Lucia Guerrisi, Alessio Plebe</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 3 - Societal Implications of AI and Computing - Room: RA2503 (Ravelijn Building) - Chair: Arzu Formanek</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">It Is Not a Camera! Radio Sensing Holography as a Disruptive Technology</div>

                            <div class="talk-speakers">Ciano Aydin</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Weathering the STORM: SocioTechnical Operation Risk Management</div>

                            <div class="talk-speakers">John Sullins</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Assisted autonomy? Wellbeing and the importance of the sensorium in the ethical analysis of wearable exoskeletons</div>

                            <div class="talk-speakers">Aline Franzke</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Generative Companionship in the Digital Age - Session 2 (Developing, Deploying, and Deepening Relationships with Digital Companions) - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Rethinking Relationships Through AI</div>

                            <div class="talk-speakers">Yan Zhuang, Shuting Yin</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Social Needs, Anthropomorphism, and Reorienting Digital AI Companions to Stimulate Prosocial Human-Human Interaction</div>

                            <div class="talk-speakers">Rose E. Guingrich</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">The Ethics of Digital Duplicates</div>

                            <div class="talk-speakers">Atay Kozlovski, Mykola Makhortykh</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - Bridging Justice and Meaningful Human Control in Medical AI - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">When AI ignores emotions: contributory injustice and epistemic calcification in healthcare</div>

                            <div class="talk-speakers">Eliana Bergamin, Angeliki Kerasidou</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Keynote: How can accurate data be unjust?</div>

                            <div class="talk-speakers">Patrik Hummel</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Panel discussion among speakers</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">15:30-16:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session">
                <div class="session-time">16:00-17:30</div>
                <div class="session-title">Session 3</div>

                <div id="tracksAccordion-day1-session7" class="tracks-accordion">

                    <h3 class="track-type-workshop">Track 1 - Workshop - Philosophy of Computing Book Club - Room: RA1501 (Ravelijn Building) - Chair: Nico Formanek</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Daston - <i>Rules</i></div>

                            <div class="talk-speakers">Johannes Lenhard, Matthias Brandl</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:20</div>

                            <div class="talk-title">Buckner - <i>From deep learning to rational machines</i></div>

                            <div class="talk-speakers">Tom Sterkenburg</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:40</div>

                            <div class="talk-title">Lenhard - <i>Cultures of prediction</i></div>

                            <div class="talk-speakers">Ramon Alvarado</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Rapaport - <i>Philosophy of computer science</i> / Calude - <i>To halt or not to halt</i></div>

                            <div class="talk-speakers">Nico Formánek</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 2 - Artificial Intelligence and Machine Learning - Room: RA2501 (Ravelijn Building) - Chair: Ian Robertson</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">The significance of vulnerability for being trustworthy about AI</div>

                            <div class="talk-speakers">Giacomo Figà-Talamanca, Niël Conradie</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">AI art: aesthetics (and ethics) in a digital age</div>

                            <div class="talk-speakers">YJ Erden</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Consciousness in the creative process and the problem for AI</div>

                            <div class="talk-speakers">Joachim Nicolodi</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 3 - Societal Implications of AI and Computing - Room: RA2503 (Ravelijn Building) - Chair: Oluwaseun Sanwoolu</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">No Hard Feelings?: A Philosophical Analysis of the Social Value of Expressions of Emotions</div>

                            <div class="talk-speakers">Alexandra Prégent</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">Emerging sociotechnical imaginaries in the ethics of QT: Lessons for Quantum Technology from Artificial Intelligence</div>

                            <div class="talk-speakers">Sybolt Doorn, Lavinia Marin</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Generative Companionship in the Digital Age - Session 3 (On the Issue of Authenticity in Human-AI Relationships) - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Love and Tools</div>

                            <div class="talk-speakers">Ariela Tubert, Justin Tiehen</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">'Real Enough'? Negotiating Authenticity in Human-AI Relations</div>

                            <div class="talk-speakers">Adrienne de Ruiter</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Ersatz Others that Remember You: The New Ethical Dilemmas</div>

                            <div class="talk-speakers">Robert Clowes</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - Bridging Justice and Meaningful Human Control in Medical AI - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Designing for Meaningful Human Control Over LLM Tools in Healthcare...</div>

                            <div class="talk-speakers">Jacqueline Kernahan, Atay Kozlovski</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">I'll answer you to death: LLMs' epistemic recklessness in the medical sector</div>

                            <div class="talk-speakers">Gabriele Nanino</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Panel discussion among speakers</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-closing">
                <div class="session-time">17:30-18:00</div>
                <div class="session-title">Closing</div>
            </div>

        </div>

        <h3>Day 2: Wednesday, July 2</h3>
        <div>

            <div class="session session-registration">
                <div class="session-time">09:00-09:30</div>
                <div class="session-title">Registration and Coffee</div>
            </div>

            <div class="session session-plenary">
                <div class="session-time">09:30-10:30</div>
                <div class="session-title">Plenary Session</div>
                <div class="plenary-info">
                    <div class="plenary-title">Machine Learning in Science: Dimensions of Understanding</div>
                    <div class="plenary-speaker">Speaker: Emily Sullivan</div>

                    <div class="plenary-chair">Chair: Björn Lundgren</div>

                    <div class="plenary-chair">IACAP Simon Award Keynote</div>

                    <div class="plenary-chair">Room: RA1501 (Ravelijn Building)</div>

                </div>
            </div>

            <div class="session session-break">
                <div class="session-time">10:30-11:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session">
                <div class="session-time">11:00-13:00</div>
                <div class="session-title">Session 1</div>

                <div id="tracksAccordion-day2-session3" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Computing and Scientific Inquiry - Room: RA1501 (Ravelijn Building) - Chair: Johannes Lenhard</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Reproducing Simulations</div>

                            <div class="talk-speakers">Nico Formanek</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">How can we trust an XAI explanation? Three robustness criteria for trustworthy XAI methods</div>

                            <div class="talk-speakers">Annika Schuster, Florian Boge</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">The benchmarking epistemology: What inferences can scientists draw from competitive comparisons of prediction models?</div>

                            <div class="talk-speakers">Timo Freiesleben, Sebastian Zezulka</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Why AI is not going to take mathematicians' jobs (or on the complexity of mathematicians' jobs)</div>

                            <div class="talk-speakers">Nancy Abigail Nuñez Hernández</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 2 - Symposium - Reimagining AI Agents - Room: RA2501 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Panel 1: Angelic AIs as Artifactual, Epistemic, Social and Collective Agents</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Panel 2: Theological Perspectives on AI: Agency, Personhood and God</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 3 - Individual Talks <s>WAS: Symposium: Advancing debates on the epistemology of medical AI</s> - Room: RA2504 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Preserving Human Autonomy in Medical AI Interactions</div>

                            <div class="talk-speakers">Stefan Buijsman</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Emerging Sociotechnical Imaginaries in the Ethics of QT: Lessons for Quantum Technology From Artificial Intelligence</div>

                            <div class="talk-speakers">Sybolt Doorn, Lavinia Marin</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Moral and Legal AI Alignment - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Computational Meta-Epistemology and the Necessity of Decentralized Collective Intelligence for AI Alignment</div>

                            <div class="talk-speakers">Andy Williams</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Beyond Technocratic Control: Cultivating Human Maturity and Responsibility in AI Alignment</div>

                            <div class="talk-speakers">Michael Färber, Birte Platow</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">The Ethical No-Free-Lunch Principle: Fundamental Limits to Purely Data-Driven AI Ethics</div>

                            <div class="talk-speakers">Luca Rivelli</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">AI value alignment in human machine interaction using LLM chatbots: technical, epistemic and ethical challenges of diversity</div>

                            <div class="talk-speakers">Dorothea Kolossa, Sabine Ammon</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - AI and animals: Ethical impacts of AI technologies on non-humans - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">An Introduction to the Ethics of Artificial Intelligence and Animals</div>

                            <div class="talk-speakers">Mark Ryan, Bernice Bovenkerk, Leonie Bossert</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Ethical Aspects of Non-animal Models for Therapy Delivery Across the Blood-brain Barrier: the NAP4DIVE Project</div>

                            <div class="talk-speakers">Philip Nickel</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Artificial Ants and Ethical Entanglements: Rethinking AI's Role in Non-Human Research</div>

                            <div class="talk-speakers">Mika Rosenberg, Lilli-Chiara Kurth, Alessandro Mac-Nelly, Max Baraitser Smith</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Something Looks Fishy! An Exploration of the Social and Ethical Implications of Fishial Recognition Systems</div>

                            <div class="talk-speakers">Paulan Korenhof, Mark Ryan</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">13:00-14:00</div>
                <div class="session-title">Lunch</div>
            </div>

            <div class="session">
                <div class="session-time">14:00-15:30</div>
                <div class="session-title">Session 2</div>

                <div id="tracksAccordion-day2-session5" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Computing and Intelligence - Room: RA1501 (Ravelijn Building) - Chair: John Sullins</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">What is Intelligence?</div>

                            <div class="talk-speakers">Arzu Formanek</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">From Active Matter to Complex Intelligent Systems: An Agent-Based Framework</div>

                            <div class="talk-speakers">Gordana Dodig-Crnkovic</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">From Simulating Towards Duplicating the Brain - The Case of Neuromorphic AI</div>

                            <div class="talk-speakers">Johannes Brinz</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 2 - Symposium - Reimagining AI Agents - Room: RA2501 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Panel 3: Communicating with (Non-Human) AI Agency: Occult, Mythological and Scholastic Perspectives</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track <s>3</s> CANCELLED - Symposium - <s>Advancing debates on the epistemology of medical AI</s></h3>
                    <div>

                        <div class="no-talks">No individual talks listed</div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Moral and Legal AI Alignment - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Pluralism in AI Value Alignment: Motivations and Methods</div>

                            <div class="talk-speakers">Parris Haynes, Phillip Honenberger</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Cultural Bias in Large Language Models: Evaluating AI Agents through Moral Questionnaires</div>

                            <div class="talk-speakers">Simon Münker</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Towards a Discursive Normative Grammar for Language Models</div>

                            <div class="talk-speakers">Bertram Lomfeld</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - AI and animals: Ethical impacts of AI technologies on non-humans - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Animal welfare in the world of digitalization: Computer Vision in the context of meta-physical structures</div>

                            <div class="talk-speakers">Mariska Bosschaert-Bakhuizen</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">AI, Democratic Innovations, and the Representation of Non-Human Animals</div>

                            <div class="talk-speakers">Friderike Spang</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Search Engines, Large Language Models and Justice for Animals</div>

                            <div class="talk-speakers">Angela Martin, Leonie Bossert</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">15:30-16:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session">
                <div class="session-time">16:00-17:30</div>
                <div class="session-title">Session 3</div>

                <div id="tracksAccordion-day2-session7" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Embodied, Ecological, and Distributed Cognition - Room: RA1501 (Ravelijn Building) - Chair: Robin Zebrowski</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Neuro-Symbolic AI, Reason, and Content: Connecting the Nonconceptual and the Conceptual</div>

                            <div class="talk-speakers">Jacob Rump</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">The shared cybernetic roots of computationalism and enactivism</div>

                            <div class="talk-speakers">Henrique Mendes</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Autonomous and AI-Enabled Systems: Extensions or Replacements of Human Will and Control?</div>

                            <div class="talk-speakers">Nathan Wood</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 2 - Symposium - Reimagining AI Agents - Room: RA2501 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Panel 4: Latent Spaces and Demonic Machines: AI Deception and Enchantment</div>

                        </div>

                    </div>

                    <h3 class="track-type-workshop">Track 3 - Workshop - Early Career Publishing - Room: RA2504 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Workshop - Early Career Publishing</div>

                            <div class="talk-speakers">Springer</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - Moral and Legal AI Alignment - Room: LEARN-X (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">Moral Ordinals, Axiometry and Alignment of Values in Small Instruct Language Models</div>

                            <div class="talk-speakers">Daniel Hromada</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">Workshop - Value-driven Alignment of Language Modules</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - AI and animals: Ethical impacts of AI technologies on non-humans - Room: INSPIRE (DesignLab Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">16:00</div>

                            <div class="talk-title">It's Hard Enough Without AI: The Value of Diagnosis in Veterinary Practice</div>

                            <div class="talk-speakers">Mona Giersberg, Franck Meijboom</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">16:30</div>

                            <div class="talk-title">The Synergy between AI and Biotechnology for Conservation: an Epistemic Justice Problem</div>

                            <div class="talk-speakers">Bernice Bovenkerk, Dominic Lenzi</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">17:00</div>

                            <div class="talk-title">Unlearning Human Bias: Teaching Language Models to Think Beyond Species</div>

                            <div class="talk-speakers">Christoph Krüger, Sam Tucker-Davis</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-closing">
                <div class="session-time">17:30-18:00</div>
                <div class="session-title">Closing</div>
            </div>

            <div class="session session-social">
                <div class="session-time">18:30</div>
                <div class="session-title">Conference Dinner at UPark Hotel. Arrivals from 18:00</div>
            </div>

        </div>

        <h3>Day 3: Thursday, July 3</h3>
        <div>

            <div class="session session-registration">
                <div class="session-time">09:00-09:30</div>
                <div class="session-title">Registration and Coffee</div>
            </div>

            <div class="session session-plenary">
                <div class="session-time">09:30-10:30</div>
                <div class="session-title">Plenary Session</div>
                <div class="plenary-info">
                    <div class="plenary-title">Using AI as Philosophical Method</div>
                    <div class="plenary-speaker">Speaker: Vincent Müller</div>

                    <div class="plenary-chair">Chair: Steve T McKinlay</div>

                    <div class="plenary-chair">iACAP Covey Award Keynote</div>

                    <div class="plenary-chair">Room: RA1501 (Ravelijn Building)</div>

                </div>
            </div>

            <div class="session session-break">
                <div class="session-time">10:30-11:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session">
                <div class="session-time">11:00-13:00</div>
                <div class="session-title">Session 1</div>

                <div id="tracksAccordion-day3-session3" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Computing and Scientific Inquiry - Room: RA1501 (Ravelijn Building) - Chair: Björn Lundgren</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Deep-learning Models and Scientific Understanding through Explanations and Descriptions</div>

                            <div class="talk-speakers">Giovanni Galli</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Deep Neural Networks as Vehicles for Scientific Understanding</div>

                            <div class="talk-speakers">Frauke Stoll</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Knowledge and Truth in Machine Learning</div>

                            <div class="talk-speakers">Ioannis Votsis</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Machine Learning in Science: Approximation over Idealization</div>

                            <div class="talk-speakers">Luis G. Lopez</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 2 - Artificial Intelligence and Machine Learning - Room: RA2501 (Ravelijn Building) - Chair: Chirag Arora</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">The Non-Bias Myth. A Popular Belief in AI and Machine Learning</div>

                            <div class="talk-speakers">Johannes Lenhard, Matthias Brandl</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">Ideals of Transparency in Artificial Intelligence and Philosophy</div>

                            <div class="talk-speakers">Hajo Greif</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">Beyond Representation: A Philosophy for Understanding Large Language Models</div>

                            <div class="talk-speakers">Steve T McKinlay</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">A Transformer Says 'Slab'</div>

                            <div class="talk-speakers">Fabian Pregel</div>

                        </div>

                    </div>

                    <h3 class="track-type-workshop">Track 3 - Workshop - Teaching With and About AI: Engagement Philosophy and Case Studies - Room: RA2502 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Workshop - Teaching With and About AI, Case Studies from 2024</div>

                            <div class="talk-speakers">Brian Ballsun-Stanton, Max Aeon Parks</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 4 - Symposium - The epistemic risks of AI integration - Room: RA2504 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Varieties of Epistemic Risks in Emerging Technologies</div>

                            <div class="talk-speakers">Sascha Fink</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">AI and the heterogeneity of pain</div>

                            <div class="talk-speakers">Hadeel Naeem</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">The Limitation Game: Anthropomorphising and 'AI testimony'</div>

                            <div class="talk-speakers">Ian Robertson</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Artificial Vices</div>

                            <div class="talk-speakers">Deb Marber</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - The values and disruptive capacities of AI Systems - Room: RA2334 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">11:00</div>

                            <div class="talk-title">Misalignment or misuse? A tradeoff</div>

                            <div class="talk-speakers">Max Hellrigel-Holderbaum</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">11:30</div>

                            <div class="talk-title">AI outsourcing and the value of autonomy</div>

                            <div class="talk-speakers">Eleonora Catena</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:00</div>

                            <div class="talk-title">AI Value Alignment: From Rights to Capabilities</div>

                            <div class="talk-speakers">Ibifuro R. Jaja</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">12:30</div>

                            <div class="talk-title">Short-term or long-term AI ethics? A dilemma for fanatics</div>

                            <div class="talk-speakers">Vincent C. Müller</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">13:00-14:00</div>
                <div class="session-title">Lunch</div>
            </div>

            <div class="session">
                <div class="session-time">14:00-15:30</div>
                <div class="session-title">Session 2</div>

                <div id="tracksAccordion-day3-session5" class="tracks-accordion">

                    <h3 class="track-type-individual-talks">Track 1 - Artificial Intelligence and Machine Learning - Room: RA1501 (Ravelijn Building) - Chair: Steve T McKinlay</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">On the Normativity of the Concept of Believability in Generative Agents</div>

                            <div class="talk-speakers">Sven Thomas, Leonie Möck</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Commonsense Reasoning in Artificial Intelligence: Challenges and Evaluation of Large Language Models</div>

                            <div class="talk-speakers">Zeynep Kabadere</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Ed-tech, role responsibilities and teachers' moral entanglement</div>

                            <div class="talk-speakers">Fabio Tollon, Michał Wieczorek</div>

                        </div>

                    </div>

                    <h3 class="track-type-individual-talks">Track 2 - Robotics, Autonomous Systems, and Human-Machine Interaction - Room: RA2501 (Ravelijn Building) - Chair: Nancy Abigail Nuñez Hernández</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Robots and Resentment</div>

                            <div class="talk-speakers">Don Berkich</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Hell is Other Robots: Participatory Sense-Making and GenAI</div>

                            <div class="talk-speakers">Robin Zebrowski</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">On the moral status of present-day robotic and AI systems</div>

                            <div class="talk-speakers">Björn Lundgren, Olof Leffler</div>

                        </div>

                    </div>

                    <h3 class="track-type-workshop">Track 3 - Workshop - Teaching With and About AI: Engagement Philosophy and Case Studies - Room: RA2502 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Interactive Workshop - Writing and Research with (and about) AI: using Claude and OpenAI's LLMs to scaffold and edit papers</div>

                            <div class="talk-speakers">Brian Ballsun-Stanton</div>

                        </div>

                    </div>

                    <h3 class="track-type-posters">Track 4 - IACAP Posters Session - Room: Main Atrium Ravelijn Building - Chair: Ahmed Amer</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Flashlights posters 1-3</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">Flashlights posters 4-6</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Flashlights posters 7-9</div>

                        </div>

                    </div>

                    <h3 class="track-type-symposium">Track 5 - Symposium - Generative Companionship in the Digital Age - Session 4 (AI Companions and User's Mental Health) - Room: RA2334 (Ravelijn Building)</h3>
                    <div>

                        <div class="talk-item">

                            <div class="talk-time">14:00</div>

                            <div class="talk-title">Possibilities and Limits of a Virtual Therapist</div>

                            <div class="talk-speakers">Rita Lobo</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">14:30</div>

                            <div class="talk-title">The Digital Other in AI Therapy</div>

                            <div class="talk-speakers">Pii Telakivi</div>

                        </div>

                        <div class="talk-item">

                            <div class="talk-time">15:00</div>

                            <div class="talk-title">Anthropomorphization of Mental Health Chatbots</div>

                            <div class="talk-speakers">Thomas Leis</div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="session session-break">
                <div class="session-time">15:30-16:00</div>
                <div class="session-title">Coffee</div>
            </div>

            <div class="session session-plenary">
                <div class="session-time">16:00-16:30</div>
                <div class="session-title">Plenary Session</div>
                <div class="plenary-info">
                    <div class="plenary-title">IACAP and AISB Members Meetings (all conference participants)</div>
                    <div class="plenary-speaker">Speaker: The boards of IACAP and AISB</div>

                    <div class="plenary-chair">Room: RA1501 (Ravelijn Building)</div>

                </div>
            </div>

            <div class="session session-plenary">
                <div class="session-time">16:30-17:30</div>
                <div class="session-title">Plenary Session</div>
                <div class="plenary-info">
                    <div class="plenary-title">U.S. Academic Research: A History and Status Report</div>
                    <div class="plenary-speaker">Speaker: Tom Powers</div>

                    <div class="plenary-chair">Chair: Björn Lundgren</div>

                    <div class="plenary-chair">Room: RA1501 (Ravelijn Building)</div>

                </div>
            </div>

            <div class="session session-closing">
                <div class="session-time">17:30-18:00</div>
                <div class="session-title">Closing</div>
            </div>

        </div>

    </div>
    